.root {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "controls"
    "app-content"
    "footer";
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 100%;
}

.controls {
  grid-area: controls;
}

.content {
  grid-area: app-content;
}

.footer {
  grid-area: footer;
}

.notification-root {
  padding-left: 1rem;
  color: white;

  &::before {
    display: none;
  }
}

.notification-root-red {
  background-color: var(--mantine-color-red-8);
}

.notification-root-green {
  background-color: var(--mantine-color-green-6);
}

.notification-title {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 0;
}

.notification-description {
  color: white;
  opacity: 0.8;
  font-size: 1rem;
}

.notification-icon {
  background-color: rgba(0, 0, 0, 0.18);
}

.login-button {
  background-color: #3d43d2;
  color: white;

  &:hover {
    background-color: #2f34c1;
  }
}

.login-description {
  color: #543405b4;
  font-size: 1.2rem;
  font-weight: 700;
}

.spark-link {
  /* color: white; */
  color: #543405;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: underline;
}
