.root {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "controls"
    "app-content"
    "footer";
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 100%;
}

.controls {
  grid-area: controls;
}

.content {
  grid-area: app-content;
}

.footer {
  grid-area: footer;
}

.wallet-address-wrapper {
  /* background-color: #5434051a; */
  /* background-color: #e9a30c; */
  background-color: #fab005;
  /* height: 3.5rem; */
  /* border-radius: 8px; */
  /* border: 1px solid #ffffff40; */
  padding: 0.8rem 0.1rem 0.8rem 0.1rem;
  /* border: 1px solid #a470050f; */
  border-bottom: 3px solid white;
  color: white;

  &:hover {
    /* background-color: #F59F00; */
    /* background-color: white;
    color: #fab005 */
  }
}

.wallet-address-title {
  font-size: 2rem;
  color: #543405;
  font-weight: 700;
}

.wallet-address-desc {
  font-size: 1.1rem;
  color: #543405de;
  font-weight: 500;
  opacity: 0.6;
}

.wallet-address {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  /* background-color: #ffffff10;
  border-radius: 8px;
  padding: 0.5rem 1rem; */
}

.copy-button {
  background-color: inherit;
  /* background-color: #e9a30c; */
  /* padding: 1rem; */
}

.buy-button {
  background-color: #3d43d2;
  color: white;
  height: 4.5rem;
  transition: all 0.2s ease-in-out;
  width: 12rem;

  &:hover {
    background-color: #4146d7;
    transform: scale(1.04);
  }
}

.notification-root {
  padding-left: 1rem;
  color: white;

  &::before {
    display: none;
  }
}

.notification-root-red {
  background-color: var(--mantine-color-red-8);
}

.notification-root-green {
  background-color: var(--mantine-color-green-6);
}

.notification-title {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 0;
}

.notification-description {
  color: white;
  opacity: 0.8;
  font-size: 1rem;
}

.notification-icon {
  background-color: rgba(0, 0, 0, 0.18);
}
